* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #111, #333);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: red;
}