*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    display:flex;
    align-items:center;
    background: black;
    color: white;
    padding: 20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);

}

.menu {
    display:flex;
    gap: 20px;
}

.login{
    background: orange;
    padding: 8px 16px;
    border-radius: 6px;
}

.menu a{
    color:white;
    text-decoration: none;
}

.logo{
    margin-right:auto;
}

.menu a:hover{
    color:orange;
}

.layout{
    display: flex;
}

.sidebar{
    width:200px;
    background: #eee;
    padding:20px;
}

.content{
    flex-grow: 1;
    padding:20px;
    min-height:400px;
}

.footer{
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    margin-bottom:10px;
    padding: 10px;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar li:hover{
    background: orange;
    color: white;
    background: #eee;
}

body{
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.products {
    display:flex;
    gap: 20px;
}

.card{
    background: white;
    padding:20px;
    border-radius: 8px;
    width: 200px;
    transition: 0.3s;
}
.card:hover{
    transform:scale(1.05);
}

.sidebar{
    width: 200px;
    background:white;
    padding: 20px;
    flex-shrink: 0;
}
