body{
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    
    background: linear-gradient(45deg, #ff6b6b, #6bc5ff, #6bff95, #ffd86d);
    background-size: 400% 400%;

    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#clear-cart {
  margin-top: 20px;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}